#main-section{
    text-align: center;
    background-color: rgb(143, 200, 143);
    font-family: sans-serif;
}
#btn1{
    border: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding-inline: 20px;
    padding-block: 5px;
}
#btn2{
    background-color: black;
    color: white;
    border-radius: 15px;
    padding-inline: 20px;
    padding-block: 5px;
    border: 3px, solid, rgb(80, 154, 80);
    margin: 10px;
}
img{
    border-radius: 10px;
}
#sub-section{
    display: flex;
    width: 700px;
    background-color: black;
    color: white;
    margin-left: 350px;
    padding: 30px;
    border-radius: 10px;
}